{% extends 'base.html' %}

{% block content %}

    <h3>{{parrent_comment.author}}</h3>
    <p>{{parrent_comment.content}}</p>

    <h3>Write a comment</h3>
    <form action="{% url 'comment_comment' post_id=post.id comment_id=parrent_comment.id%}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Comment">
    </form>

    {% for comment in comments%}
            <h3><a href="{% url 'profile' user.id %}">{{comment.author.username}}</a></h3>
            <p>{{comment.content}}</p>
            <a href="{% url 'comment_comment' post_id=post.id comment_id=comment.id%}">Comments</a>
    {% endfor %}
{% endblock %}